/* #file {
  height: 100px;
  width: 150px;
  border-radius: 6px;
  border: 1px dashed #999;
}

.files {
}

#file:hover {
  color: #175ddc;
  border: 1px dashed #175ddc;
} */
input[type="file"] {
  display: none;
}


.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 150px;
  margin: 20px auto; /* Center the custom file upload */
  padding: 15px 20px;
  cursor: pointer;
  border: 1px dashed #999;
  border-radius: 5px;
  font-size: 16px;
}

.custom-file-upload:hover {
  color: #175ddc;
  border: 1px dashed #175ddc;
}

.file-name{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.credentials-save {
  margin-top: 10px;
}
