.parent {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  margin-top: 40px;
}

.div1 {
  /* height: 524.1px; */
  width: 230px;
  margin-right: 20px;
}
.div2 {
  height: 400px;
}

.side-nav {
  border: 1px solid black;
  padding-left: 10px;
  padding-bottom: 10px;
}

.options-title {
  border-bottom: 1px solid black;
  width: 100%;
}

.options-item {
  display: flex;
  flex-direction: column;
}

.options-item a {
  padding: 5px;
  border-bottom: 1px solid black;
}

.options-item a:hover {
  text-decoration: underline;
}

/* div 2 contents */
.page-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #495057;
  margin-bottom: 5px;
}

.card-body {
  display: flex;
  height: 60px;
  border: 1px solid #495057;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.form-group {
  height: 50px;
  margin-bottom: 0px;
}

.form-group label {
  font-size: 14px;
}

.col-4 input {
  background-color: #f1f3f5;
  padding: 5.25px 10.5px;
  width: 230px;
  height: 34px;
  border-radius: 3px;
  border-color: #adb5bd;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-4 {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  margin: 14px 0px 28px;
}

.col-4 label {
  font-size: 14px;
  margin-bottom: 7px;
}

.d-flex {
  margin-top: 25px;
}

.form-control {
  width: 230px;
  height: 35px;
}

.btn {
  padding: 5.25px 10.5px;
  border-radius: 3px;
  border-color: #868e96;
}

.btn-primary {
  background-color: #175ddc;
  color: #ffffff;
  font-weight: bold;
}

.btn-outline-secondary {
  color: #495057;
  font-weight: bold;
}

.heading1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
}

.heading4 {
  font-size: 14px;
}
